@media print {
  .tm-sidebar,
  #about,
  .heading,
  .blocks,
  #ideas,
  section.tm-content-box,
  section::before {
    display: none;
  }
  .container {
    width: min-content;
  }
  .tm-team-description-container {
    max-width: 470px !important;
  }
  .tm-banner {
    padding: 30px 30px 30px 0px;
  }
  .padding-medium {
    width: 700px;
  }
  .padding-medium h2 {
    color: blue;
  }
  .padding-medium #first {
    font-style: italic;
  }
  .padding-medium p {
    text-indent: 0.5cm;
  }
  .padding-medium p::first-letter {
    color: lightskyblue;
    font-size: 30px;
  }
  .flex-item img {
    width: 250px;
  }
  .flex-2-col {
    align-items: center;
    margin-top: -50px;
  }
  .text-xs-center::first-letter {
    color: lightskyblue;
    font-size: 30px;
  }
 }
 

/* 2 */

#about .boxes.gallery-container .box{
  overflow: hidden;
}
#about .boxes.gallery-container .box img{
  transition: 1s;
}
#about .boxes.gallery-container .box img:hover{
  transform: scale(1.2);
}

/* 3 */

p::first-letter{
  color: #87cefa;
  font-size: 30px;
}

/* 4 */
section, #home, .tm-sidebar{
  box-shadow: 0 0 10px gray;
}
.tm-banner{
  background-color: whitesmoke;
}
.tm-banner-inner{
  background-color: white;
}
.flex-2-col{
  display: flex;
  align-items: center;
}
/* 5 */

section::before{
  content: '';
  position: absolute;
  border-bottom: 30px solid transparent;
  border-left: 250px solid lightskyblue;
}

/* 6 */
.carousel-item.active .carousel-content .flex-item .tm-section-title{
  color: gainsboro;
  letter-spacing: 5px;
}

/* 7 */

.flex-item p:first-of-type{
  font-style: italic;
}

/* 8 */

.padding-medium.flex-item.tm-team-description-container.flex-item p{
  text-indent: 20px;
  line-height: 1.8em;
}

/* 9 !!!!!!!!!*/

ol li a:link{
  color: black;
}
ol li a:visited{
  color: black;
  text-decoration: underline;
}
ol li a:hover{
  color:lightblue;
  text-decoration: underline double;
}

.heading.tm-content-box .padding-medium .text::after{
  vertical-align: super;
  font-size: x-small;
  color: red;
  content: "New";
}

/* 10 */
.box:nth-child(even) {
  background-color: #f5f5f5;
 }
 
 .box-work {
  padding: 10px;
 }
 
 .box-work p {
  font-style: italic;
 }
 
 .box-work p::first-letter {
  color: #000;
 }

/* 11 */

.form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.form-group-2-col-right.mandatory-field::after{
  content: "*";
  color: red;
  font-weight: bold;
}

.btn.btn-primary.submit-btn{
  border-radius: 1px;
  float: right;
  width: 150px;
  height: 50px;
  background-color: white;
  color: lightskyblue;
  border: 1px solid lightskyblue;
}
.btn.btn-primary.submit-btn:hover{
  background-color: lightskyblue;
  color: white;
}

/* 12 */

.tm-nav-item:hover{
  background-color: #f5f5f5;
}
/* ---------------- */
